body {
  margin: 50px auto;
  max-width: 650px;
  padding: 1em;
  display: block;
  font-size: 16px;
  font-family: -apple-system, system-ui, "Times New Roman", Times;
  line-height: 1.6;
}

#links {
  padding-left: 0%;
  display: flex;
  gap: 8px;
  list-style: none;
}
