
body {
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  display: block;
  font-size: 16px;
  font-family: 'EB Garamond', 'Times New Roman', Times, serif;
  font-weight: 400;


}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0%;
}

nav {
  margin-bottom: 3rem;
}