body {
    font-family:
        system-ui,
        -apple-system;
    font-size: 16px;
    margin: 2em auto;
    max-width: 600px;
    font-weight: 300;
    padding-top: 10px;
    line-height: 1.7;
    letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -0.01em;
    margin: 0 0 0.6em;
}

p {
    margin: 0 0 1.1em;
    letter-spacing: 0.01em;
}
